configuration {
	display-drun: "Run";
	display-window: "Windows";
	drun-display-format: "{icon} {name}";
	font: "Segoe UI 14";
	show-icons: true;
	icon-theme: "Papirus";
}

//@theme "/usr/share/rofi/themes/android_notification.rasi"

* {
	//background-color: #282c34;
}

